@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");

body,
html {
  height: 100%;
  width: 100%;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  font-weight: 600;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  --foreground-color: #fff;
  --background-color: #000;
  --btn-border-color: transparent;
  color: var(--foreground-color);
}

.bg-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

#bg-image {
  object-fit: cover;
  filter: blur(2px);
  object-position: center;
  display: block;
  /* background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
}

.top,
.bottom {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5vmax;
  padding-left: 2.4vmax;
  position: relative;
}

.bottom {
  display: none;
}

.top-left h2 {
  font-size: 2.9vmin;
  font-weight: 800;
  margin-bottom: -0.2vmax;
}

.top-left h4 {
  font-size: 1.55vmin;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}

.auth {
  margin-left: 0.45vmin;
}

.lofidoro-container {
  /* background-color: rgb(0, 0, 0, 0.5); */
  width: 100%;
  height: calc(100% - 90px);
  font-weight: bold;
  position: relative;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* top: 50%; */
  /* left: 50%; */
  /* z-index: 2; */
  /* transform: translate(-50%,-50%); */
}

.form-check-input {
  display: none;
}

.form-check-input:checked + label {
  background-color: white;
  color: black;
}

/* Additional styling for the unchecked state */
.form-check-input:not(:checked) + label {
  background-color: rgba(0, 0, 0, 0); /* Set to transparent or any other color */
  color: white;
}

.lofidoro-container label.form-check-label {
  font-size: 2.85vmin;
  line-height: 3.6vmin;
}

.lofidoro-container .btn {
  display: inline-block;
  color: var(--foreground-color);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--foreground-color);
  border-radius: 500px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 2.85vmin;
  font-family: "Space Grotesk", sans-serif;
}

.lofidoro-durations {
  margin: 1vh 0;
  height: 10vh;
  width: 100%;
  max-width: 1375px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lofidoro-durations > div:first-child {
  padding-left: 0;
  position: relative;
}

.lofidoro-durations > div {
  margin-right: 1rem;
  padding-left: 0;
}

.form-check {
  display: block;
  min-height: 1.25rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  color: #f8f9fa;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.675rem 1.25rem;
  font-size: 1rem;
  border-radius: 5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hidden {
  display: none;
}

.lofidoro-timer {
  font-size: 8rem;
  letter-spacing: -0.25rem;
  font-variant-numeric: tabular-nums;
}

.lofidoro-timer {
  font-size: 11.5vmin;
  font-weight: 500;
  margin: 1vh 0;
  letter-spacing: 4.5px;
  background-color: transparent;
  width: 35vmin;
  height: 22vmin;
  display: grid;
  /* justify-content: center;
  align-items: center; */
  place-items: center;
}

.lofidoro-container h1 {
  font-size: 20px;
  margin: 10px 0 30px 0;
  background-color: transparent;
}

/* No Circle / Border radius */
.lofidoro-clock-actions {
  height: 10vh;
  margin: 1vh 0;
  width: 100%;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lofidoro-clock-actions .btn:hover .bi {
  color: #000;
  transform: scale(1.1);
}

.lofiCountsDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5vh;
  animation: swipe-up 1s ease-in;
}

.lofiCountsDisplay span {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.lofiCountsDisplay p {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

@keyframes swipe-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 550px) {
  .top-left h2 {
    font-size: 3.5vmin;
  }

  .top-left h4 {
    font-size: 1.85vmin;
  }

  .lofidoro-container {
    margin-block: 40px;
  }

  .lofidoro-container label.form-check-label {
    font-size: 3.85vmin;
    line-height: 4.6vmin;
  }
  .lofidoro-container .btn {
    font-size: 3.85vmin;
    font-family: "Space Grotesk", sans-serif;
  }
  .lofidoro-durations {
    margin: 0.5vh;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .lofidoro-timer {
    width: 220px;
    height: 220px;
    font-size: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9), 0px 0px 20px rgba(0, 0, 0, 0.9),
      0px 0px 30px rgba(0, 0, 0, 0.5);
    /* border-radius: 50%; */
  }

  .lofidoro-clock-actions {
    height: 17vh;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lofidoro-clock-actions button {
    width: 25%;
    margin: 12px;
  }
}
